<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>OnnuriQuick</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="views/home/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="views/home/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="views/home/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="about_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="home">
            <img src="views/home/images/logo.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">

              <li class="nav-item ">
                <a class="nav-link" href="home">홈 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order_entry">주문 입력</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order_list">주문 리스트 </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="customer_list">고객 리스트</a>
              </li>

            </ul>
            <div class="user_option">
              <% if (session.user) { %>
                <span style="color: white;">
                  <%= session.user.name %>
                </span>
                <!-- 로그아웃 버튼 -->
                <a href="#" onclick="confirmLogout()" style="color: white">
                  <img src="views/home/images/user.pn" alt="">
                  <span>
                    Logout
                  </span>
                </a>
              <% } else { %>
                <!-- 로그인 버튼 -->
                <a href="/login">
                  <img src="views/home/images/user.png" alt="">
                  <span>
                    Login
                  </span>
                </a>
              <% } %>
            </div>


        </div>

        <script>
          function confirmLogout() {
            if (confirm('정말 로그아웃 하시겠습니까?')) {
              // 사용자가 확인을 눌렀을 경우 로그아웃 페이지로 이동
              window.location.href = "/logout";
            }
          }
        </script>

        <!-- <div>
          <div class="custom_menu-btn ">
            <button>
              <span class=" s-1">

              </span>
              <span class="s-2">

              </span>
              <span class="s-3">

              </span>
            </button>
          </div> -->
        </div>

      </nav>
    </div>
  </header>
    <!-- end header section -->
  </div>

  <!-- 고객 리스트 -->
  <section class="heading_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>고객 리스트</h2>
      </div>

      <div id="backbody">
        <div id="frame">
          <form>
            <div id="search" style="border: solid 1px gray; padding: 20px;">
              <input id="customerInfo" name="customer_info" placeholder="고객명 입력" type="text" />
              <input id="phoneNumber" name="phone_number" placeholder="휴대폰 번호 입력" type="text" />
              <button type="button" id="Btn">조회</button>
            </div>

            <br/><br/>

            <span style="font-size: 10pt; font-weight: bold; display:inline-block; padding: 10px 10px;">주문 상품 정보</span>
            <div id="table-container"></div>

            <table id="productInfo">
              <thead>
                <tr>
                  <th>고객명</th>
                  <th>휴대폰 번호</th>
                  <th>주소</th>
                  <th>수정</th>
                </tr>
              </thead>
              <tbody>
                <% customers.forEach(customer => { %>
                  <tr>
                    <td><%= customer.name %></td>
                    <td><%= customer.phone_number %></td>
                    <td>
                      <%= customer.address %> <%= customer.extra_address %> <%= customer.detail_address %>
                    </td>
                    
                    <td>
                      <!-- 수정 버튼 -->
                      <button type="button" class="btn" style="background-color: transparent; border: none; color: transparent;" onclick="openEditModal('<%= customer.idx %>')">
                        <i class="fas fa-edit" style="color: black;"></i> <!-- 아이콘 색상은 원하는 대로 설정 -->
                      </button>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>

            <div class="paging">
              <div class="pagination">
                <% if (totalPages > 1) { %>
                  <% for(let i = 1; i <= totalPages; i++) { %>
                    <a href="/customer_list?page=<%= i %>&limit=<%= limit %>&customer_info=<%= customerInfo %>&phone_number=<%= phoneNumber %>"
                      class="<%= i === currentPage ? 'active' : '' %>">
                      <%= i %>
                    </a>
                  <% } %>
                <% } %>
              </div>
            </div>

          </form>
        </div>
      </div>

    </div>
  </section>

  <!-- 고객 정보 수정 모달 -->
  <div id="editModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">고객 정보 수정</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editCustomerForm">
            <input type="hidden" id="customerIdx" name="customerIdx">
            <div class="form-group">
              <label for="customerName">이름</label>
              <input type="text" id="customerName" name="name" class="form-control">
            </div>
            <div class="form-group">
              <label for="customerPhone">전화번호</label>
              <input type="text" id="customerPhone" name="phone_number" class="form-control">
            </div>
            <div class="form-group">
              <label for="customerAddress">주소</label>
              <input type="text" id="customerAddress" name="address" class="form-control">
            </div>
            <button type="button" class="btn btn-primary" onclick="submitEdit()">저장</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>Onnuri Quick</h2>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>About Shop</h5>
            <div>
              <div class="img-box">
                <img src="views/home/images/location-white.png" width="18px" alt="">
              </div>
              <p>서울 특별시 강남구 도곡로 18길 35, 2동 605호</p>
            </div>
            <div>
              <div class="img-box">
                <img src="views/home/images/telephone-white.png" width="12px" alt="">
              </div>
              <p>010-8538-5993</p>
            </div>
            <div>
              <div class="img-box">
                <img src="views/home/images/envelope-white.png" width="18px" alt="">
              </div>
              <p>gkmglobal@naver.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid footer_section">
    <div class="container">
      <p>
        &copy; 2019 All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </section>

  <!-- Scripts -->
  <script type="text/javascript" src="js/home/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/home/bootstrap.js"></script>

    <!-- 고객 조회 및 수정 스크립트 -->
    <script>
      document.getElementById('Btn').addEventListener('click', function() {
        const customerInfo = document.getElementById('customerInfo').value;
        const phoneNumber = document.getElementById('phoneNumber').value;
  
        // 조회 버튼 클릭 시 해당 파라미터로 페이지 이동
        const url = `/customer_list?customer_info=${customerInfo}&phone_number=${phoneNumber}`;
        window.location.href = url;
      });
  
      function openEditModal(customerIdx) {
        // AJAX로 해당 고객의 데이터를 가져와서 폼에 채워 넣습니다.
        $.get(`/customer/${customerIdx}`, function(data) {
          console.log(data);  // 데이터를 콘솔에 출력하여 확인

if (data) {
    $('#customerIdx').val(data.idx);
    $('#customerName').val(data.name);
    $('#customerPhone').val(data.phone_number);
    $('#customerAddress').val(data.address);
    $('#editModal').modal('show'); // 모달 열기
} else {
    alert("고객 정보를 불러오지 못했습니다..");
}
        });
      }
  
      function submitEdit() {
    const formData = $('#editCustomerForm').serialize();  // 폼 데이터를 직렬화

    $.ajax({
        type: 'POST',
        url: '/customer/edit',
        data: formData,
        success: function(response) {
            if (response.success) {
                alert('고객 정보가 수정되었습니다.');
                location.reload(); // 페이지 새로고침
            } else {
                alert('수정 중 오류가 발생했습니다.');
            }
        },
        error: function(xhr, status, error) {
            console.error(`고객 정보 수정 오류: ${xhr.responseText}`);
            alert('고객 정보 수정에 실패했습니다.');
        }
    });
}

    </script>
  
    <!-- Owl Carousel script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script type="text/javascript">
      $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        navText: [],
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
          0: { items: 1 },
          420: { items: 2 },
          1000: { items: 5 }
        }
      });
    </script>
  
    <!-- Navbar toggle script -->
    <script>
      var nav = $("#navbarSupportedContent");
      var btn = $(".custom_menu-btn");
      btn.click(function (e) {
        e.preventDefault();
        nav.toggleClass("lg_nav-toggle");
        document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style");
      });
    </script>
  
    <!-- Carousel active indicator script -->
    <script>
      $('.carousel').on('slid.bs.carousel', function () {
        $(".indicator-2 li").removeClass("active");
        indicators = $(".carousel-indicators li.active").data("slide-to");
        $(".indicator-2").find("[data-slide-to='" + indicators + "']").addClass("active");
      });
    </script>
  
  </body>
  </html>
  
